<launch>        
        <!-- Motor Controller Node -->

        <!-- Arguments (Overrideable)-->
        <arg name="PubName" default="Local_Default_Pub_name"/>

        <node name="motor_controller" pkg="motor_controller" type="motor_controller" required="true">
          <param name="publisher" value="$(arg PubName)"/>
        </node>

</launch>
